version: '3.7'

services:

  toolhunt:
    container_name: toolhunt
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules # do not bind mount node_modules
    ports:
      - '8082:8080'